---
import Layout from "../layouts/Layout.astro";
import { titlesMap } from "../data/problems.js";
---

<Layout title="Niral Thiruvizha problems">
  <main class="p-3">
    <h1 class="text-5xl">Niral Thiruvizha problems</h1>
    {
      Object.keys(titlesMap).map((title) => (
        <div class="m-3">
          <h2 class="text-3xl">{title}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {titlesMap[title].map(([problem]) => (
              <div class="p-2 m-1 border rounded-lg">
                <h2 class="text-xl">{problem}</h2>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </main>
</Layout>
